<header class="top-navbar">
  <div class="navbar-brand">
    <img src="/Yatra.png" alt="YatraPlanner Logo" class="navbar-logo" />
  </div>
  <nav class="top-navbar-menu">
    <a routerLink="/explore" routerLinkActive="active" class="navbar-link">
      <span class="material-icons">travel_explore</span>
      <span>Explore</span>
    </a>
    <a routerLink="/hidden-gems" routerLinkActive="active" class="navbar-link">
      <span class="material-icons">landscape</span>
      <span>Hidden Gems</span>
    </a>
    <a routerLink="/trip-data" routerLinkActive="active" class="navbar-link">
      <span class="material-icons">event_note</span>
      <span>Plan</span>
    </a>
    <a routerLink="/foodie" routerLinkActive="active" class="navbar-link">
      <span class="material-icons">restaurant</span>
      <span>Foodie</span>
    </a>
    <div class="profile-menu-desktop">
      <a routerLink="/profile" class="navbar-link">
        <span class="material-icons">person</span>
        <span>Profile</span>
      </a>
    </div>
  </nav>
</header>

<nav class="bottom-navbar">
  <a routerLink="/explore" routerLinkActive="active">
    <span class="material-icons">travel_explore</span>
    <span>Explore</span>
  </a>
  <a routerLink="/hidden-gems" routerLinkActive="active">
    <span class="material-icons">landscape</span>
    <span>Hidden Gems</span>
  </a>
  <a routerLink="/trip-data" routerLinkActive="active">
    <span class="material-icons">event_note</span>
    <span>Plan</span>
  </a>
  <a routerLink="/foodie" routerLinkActive="active">
    <span class="material-icons">restaurant</span>
    <span>Foodie</span>
  </a>
  <div class="profile-menu">
    <a routerLink="/profile">
      <span class="material-icons">person</span>
      <span>Profile</span>
    </a>
  </div>
</nav>
